!!!
%html
  %head
    %title Abiquo Provisioning
    = stylesheet_link_tag "admin/admin", "jquery-ui"
    = javascript_include_tag :defaults, "modernizr", "rails.validations"
    = csrf_meta_tag
  
  %body
    #page
      %header{ :role => "banner" }= render :partial => "admin/shared/header"
      = render :partial => "shared/flash_messages"
      = yield
      %footer{ :role => "footer" }= render :partial => "admin/shared/footer"
